rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // USER STORAGE RULES 
    match /Users/{userId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.id;
      allow read, update, delete : if request.auth != null && request.auth.uid == userId;
    }
    // ACCOUNTS STORAGE RULES 
    match /Users/{userId}/Accounts/{accountId} {
      allow create, read, update, delete: if request.auth.uid == userId;
    }
    // EXPENSES STORAGE RULES 
    match /Users/{userId}/Transactions/{month}/Expenses/{expenseId} {
      allow create, read, update, delete: if request.auth.uid == userId;
    }
    // INCOMES STORAGE RULES 
    match /Users/{userId}/Transactions/{month}/Incomes/{incomeId} {
      allow create, read, update, delete: if request.auth.uid == userId;
    }
    // Allow list subcolletions 
    match /Users/{userId}/{document=**} {
      allow list: if request.auth != null && request.auth.uid == userId;
    }
  }
}

// Deploy rules file =>> firebase deploy --only firestore:rules